/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/Unit1/NumericPrimitives/nbproject/private/
/assignments/Unit1/NumericPrimitives/build/
/assignments/Unit1/HW02/nbproject/private/
/assignments/Unit1/HW02/NumericPrimitives/nbproject/private/
/assignments/Unit1/HW02/NumericPrimitives/build/
/assignments/Unit1/HW02/LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/Unit1/HW03Loops/nbproject/private/
/assignments/Unit1/HW07Iterations/nbproject/private/
/assignments/Unit1/HW07Iterations/build/
/assignments/Unit1/HW03Iterations/nbproject/private/
/assignments/Unit1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/Unit1/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/build/
/assignments/Unit1/ExamUnit1/nbproject/private/
/assignments/Unit1/ExamUnit1/build/
/Exams/Unit1/ExamUnit1/nbproject/private/
/Exams/Unit1/ExamUnit1/build/
/Group7 Project/Unit1/Project/nbproject/private/
/Group7 Project/Unit1/Project/build/
/workshops/Unit2/WS08ExamSolution/nbproject/private/
/workshops/Unit2/WS08ExamSolution/build/
/assignments/Unit2/HW05FactorialNumber/nbproject/private/
/assignments/Unit2/HW05FactorialNumber/build/
/assignments/Unit2/HW09EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09EmbeddedStructures/build/
/workshops/Unit2/WS10Functions/nbproject/private/
