/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/Unit1/NumericPrimitives/nbproject/private/
/assignments/Unit1/NumericPrimitives/build/
/assignments/Unit1/HW02/nbproject/private/
/assignments/Unit1/HW02/NumericPrimitives/nbproject/private/
/assignments/Unit1/HW02/NumericPrimitives/build/
/assignments/Unit1/HW02/LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/Unit1/HW03Loops/nbproject/private/
/assignments/Unit1/HW07Iterations/nbproject/private/
/assignments/Unit1/HW07Iterations/build/
/assignments/Unit1/HW03Iterations/nbproject/private/
/assignments/Unit1/HW03Iterations/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/assignments/Unit1/HW04Menus/nbproject/private/
/assignments/Unit1/HW04Menus/build/
/assignments/Unit1/ExamUnit1/nbproject/private/
/assignments/Unit1/ExamUnit1/build/
/Exams/Unit1/ExamUnit1/nbproject/private/
/Exams/Unit1/ExamUnit1/build/
/Group7 Project/Unit1/Project/nbproject/private/
/Group7 Project/Unit1/Project/build/
/workshops/Unit2/WS08ExamSolution/nbproject/private/
/workshops/Unit2/WS08ExamSolution/build/
/assignments/Unit2/HW05FactorialNumber/nbproject/private/
/assignments/Unit2/HW05FactorialNumber/build/
/assignments/Unit2/HW09EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09EmbeddedStructures/build/
/workshops/Unit2/WS10Functions/nbproject/private/
/workshops/Unit2/WS10Functions/build/
/workshops/Unit2/WS10Functions/dist/
/assignments/Unit2/HW10Functions/nbproject/private/
/assignments/Unit2/HW10Functions/build/
/assignments/Unit2/HW10Functions/dist/
/assignments/Unit2/HW10functions/nbproject/private/
/assignments/Unit2/HW10functions/build/
/assignments/Unit2/HW10_Functions/nbproject/private/
/assignments/Unit2/HW10_Functions/build/
/workshops/Unit2/WS10_Functions/nbproject/private/
/workshops/Unit2/WS10_Functions/build/
/workshops/Unit2/W11FunctionsAndRecursion/nbproject/private/
/workshops/Unit2/W11FunctionsAndRecursion/build/
/assignments/Unit2/HW11FunctionsAndRecursion/nbproject/private/
/assignments/Unit2/HW11FunctionsAndRecursion/build/
/assignments/Unit2/HW11FuntionsAndRecursion/nbproject/private/
/assignments/Unit2/HW11FunctionsAndRecursion/dist/
/assignments/Unit2/HW10_Functions/dist/
/workshops/Unit2/WS12Libraries/nbproject/private/
/workshops/Unit2/WS12Libraries/build/
/workshops/Unit2/WS12Libraries/dist/
/assignments/Unit2/HW12 IncomeTax/nbproject/private/
/assignments/Unit2/HW12 IncomeTax/build/
/assignments/Unit2/HW12 IncomeTax/dist/
/workshops/Unit2/WS13Taks/nbproject/private/
/workshops/Unit2/WS13Taks/build/
/workshops/Unit2/W14FarmSimulator/nbproject/private/
/workshops/Unit2/W14FarmSimulator/build/
/assignments/Unit2/HW14Arrays/nbproject/private/
/assignments/Unit2/HW14Arrays/build/
/assignments/Unit2/HW14Arrays/dist/
/Quiz/Unit2/ArraysQuiz22-02-21/nbproject/private/
/Quiz/Unit2/ArraysQuiz22-02-21/build/
/Quiz/Unit2/ArraysQuiz22-02-21/dist/
/Quiz/Unit2/CorrectionTheQuiz/nbproject/private/
/Quiz/Unit2/WS15bidimensionalArray/nbproject/private/
/workshops/Unit2/WS15bidimensionalArray/nbproject/private/
/workshops/Unit2/W14FarmSimulator/dist/
/workshops/Unit2/WS16BidimensionalArrays/nbproject/private/
/workshops/Unit2/WS15ArrayWorkshop/nbproject/private/
