/workshops/FP02_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/assignments/Unit1/NumericPrimitives/nbproject/private/
/assignments/Unit1/NumericPrimitives/build/
/assignments/Unit1/HW02/nbproject/private/
/assignments/Unit1/HW02/NumericPrimitives/nbproject/private/
/assignments/Unit1/HW02/NumericPrimitives/build/
/assignments/Unit1/HW02/LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/LogicalOperators/nbproject/private/
/workshops/unit1/WS04LogicalOperators/LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
